---
import '../styles/global.css';
import Roulette from '../components/Roulette.tsx';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ruleta Interactiva - Qualisophy</title>
	</head>
	<body class="m-0 p-0 bg-slate-50">
		<Roulette client:load />
	</body>
</html>